# Quickstart Guide

We highly advise thoroughly reviewing the [BLPAPI Core Developer Guide](https://data.bloomberglp.com/professional/sites/10/2017/03/BLPAPI-Core-Developer-Guide.pdf) when developing your Bloomberg Queries. This guide is essential for understanding function parameters, request options, overrides, error messages, and troubleshooting methods.

In [1]:
import datetime
import json

import pandas

from blp import blp

In [2]:
bquery = blp.BlpQuery().start()

# Bloomberg Queries

## Data History (BDH)

In [3]:
bquery.bdh(
    ["SPY US Equity", "TLT US Equity"],
    ["PX_LAST", "VOLUME"],
    start_date="20190101",
    end_date="20190110",
    options={"adjustmentSplit": True}
)

         date       security  PX_LAST       VOLUME
0  2019-01-02  SPY US Equity   250.18  126925199.0
1  2019-01-02  TLT US Equity   122.15   19841527.0
2  2019-01-03  SPY US Equity   244.21  144140692.0
3  2019-01-03  TLT US Equity   123.54   21187045.0
4  2019-01-04  SPY US Equity   252.39  142628834.0
5  2019-01-04  TLT US Equity   122.11   12970226.0
6  2019-01-07  SPY US Equity   254.38  103139100.0
7  2019-01-07  TLT US Equity   121.75    8498104.0
8  2019-01-08  SPY US Equity   256.77  102512587.0
9  2019-01-08  TLT US Equity   121.43    7737103.0
10 2019-01-09  SPY US Equity   257.97   95006554.0
11 2019-01-09  TLT US Equity   121.24    9349245.0
12 2019-01-10  SPY US Equity   258.88   96823923.0
13 2019-01-10  TLT US Equity   120.46    8222860.0

## Data Point (BDP)

In [4]:
bquery.bdp(["CL1 Comdty"], ["NAME", "PX_LAST"])

     security                     NAME  PX_LAST
0  CL1 Comdty  Generic 1st 'CL' Future    75.27

## Data Set (BDS)

In [5]:
bquery.bds("BCOM Index", "INDX_MWEIGHT")

   Member Ticker and Exchange Code  Percentage Weight
0                             BOH4               2.67
1                             C H4               4.31
2                             CLH4               8.47
3                             COH4               7.92
4                             CTH4               1.55
5                             GCG4              17.52
6                             HGH4               5.56
7                             HOH4               2.00
8                             KCH4               3.74
9                             KWH4               1.44
10                           LAH24               4.43
11                            LCG4               3.84
12                            LHG4               1.60
13                            LLH4               0.93
14                            LNH4               1.74
15                            LXH4               2.66
16                           NGH24               5.62
17                            QSH4               2.67
18                            S H4               5.45
19                            SBH4               2.95
20                            SIH4               4.97
21                            SMH4               3.12
22                            W H4               2.55
23                            XBH4               2.28

## Intraday Bar (BDIB)

In [6]:
bquery.bdib(
    "AAPL US Equity",
    event_type="TRADE",
    interval=60,
    start_datetime="2023-11-01", # Different date format
    end_datetime="2023-11-02", # Different date format
)

,time,open,high,low,close,volume,numEvents,value
0,2023-11-01 13:30:00,171.000,171.97,170.120,171.828,8272888,41465,1.415716e+09
1,2023-11-01 14:30:00,171.835,172.08,171.000,171.430,5189464,26241,8.903882e+08
2,2023-11-01 15:30:00,171.440,172.00,171.195,171.910,2887219,14505,4.957753e+08
3,2023-11-01 16:30:00,171.905,172.38,171.630,172.162,3109733,14308,5.350173e+08
4,2023-11-01 17:30:00,172.160,172.71,171.910,172.620,4089553,20561,7.043825e+08
5,2023-11-01 18:30:00,172.620,174.22,172.100,173.910,8659156,46255,1.499576e+09
6,2023-11-01 19:30:00,173.920,174.23,173.610,173.970,13746588,32967,2.391479e+09

## Equity Screening (BEQS)

In [7]:
bquery.beqs(
    "Core Capital Ratios",
    screen_type="GLOBAL",
    options={"Group": "General"}
)

,security,Tot Rsk Bsd Cap Rt LF,Ticker,Short Name,Market Cap,Price:D-1,Tier 1 Cap Rt LF,Moody's Issuer Rtg,S&P LT FC Iss Cred Rtg
0,8331 JP,11.580000,8331 JP,CHIBA BANK LTD,5.757796e+09,7.071664,11.510000,A1,A-
1,ABN NA,19.799999,ABN NA,ABN AMRO BANK-CV,1.285043e+10,14.816520,16.500000,Aa3,A
2,ACA FP,17.900000,ACA FP,CREDIT AGRICOLE,4.330626e+10,14.157763,13.700000,Aa3,A+
3,BAC US,15.400000,BAC US,BANK OF AMERICA,2.645561e+11,33.860001,13.600000,A1,A-
4,BBVA SM,16.510000,BBVA SM,BBVA,5.424467e+10,9.074981,14.450000,A3,A
5,BNP FP,17.799999,BNP FP,BNP PARIBAS,7.980755e+10,69.411812,15.550000,Aa3,A+
6,BNS CN,17.200001,BNS CN,BANK OF NOVA SCO,5.818445e+10,47.749039,14.800000,A2,A+
7,CBK GR,19.200001,CBK GR,COMMERZBANK,1.470946e+10,11.836692,16.500000,A2,A-
8,CFR US,15.280000,CFR US,CULLEN/FROST,6.890196e+09,107.989998,13.810000,A3,A-
9,DANSKE DC,23.200001,DANSKE DC,DANSKE BANK A/S,2.261516e+10,26.175419,20.600000,A3,A+
10,DBK GR,18.799999,DBK GR,DEUTSCHE BANK-RG,2.785299e+10,13.624589,16.299999,A1,A
11,JPM US,17.799999,JPM US,JPMORGAN CHASE,4.839548e+11,168.389999,15.900000,A1,A-
12,NA CN,16.799999,NA CN,NATL BK CANADA,2.560488e+10,75.416634,16.000000,A3,A
13,NAB AU,19.879999,NAB AU,NATL AUST BANK,6.472474e+10,20.680393,14.190000,Aa3,AA-
14,PNC US,13.400000,PNC US,PNC FINANCIAL SE,6.073507e+10,154.100006,11.500000,A3,A-
15,RY CN,17.600000,RY CN,ROYAL BANK OF CA,1.418815e+11,100.799332,15.700000,A1,AA-
16,SAN SM,16.299999,SAN SM,BANCO SANTANDER,6.802634e+10,4.194893,13.800000,A2,A+
17,SEBA SS,21.900000,SEBA SS,SEB AB-A,2.923436e+10,13.637860,20.600000,Aa3,A+
18,SHBA SS,24.500000,SHBA SS,SVENSKA HAN-A,2.148063e+10,10.793521,21.200001,Aa2,AA-
19,SWEDA SS,23.000000,SWEDA SS,SWEDBANK AB-A,2.255931e+10,19.895409,20.500000,Aa3,A+
20,TD CN,18.100000,TD CN,TORONTO-DOM BANK,1.160988e+11,64.188225,16.200001,A1,AA-
21,TFC US,13.500000,TFC US,TRUIST FINANCIAL,4.902564e+10,37.110001,11.400000,A3,A-
22,USB US,13.400000,USB US,US BANCORP,6.774561e+10,44.070000,11.200000,A3,A
23,WBC AU,20.450001,WBC AU,WESTPAC BANKING,5.468451e+10,15.542620,14.590000,Aa3,AA-

## BQL Queries

`bquery.bql` accepts a Bloomberg Query String. For optimal query creation, utilize Excel's BQL Builder in Advanced View. Once your query is ready, click the "Copy" button to copy it, and then paste it into the `bquery.bql` argument.

In [9]:
result = bquery.bql("get(px_last) for(['IBM US Equity', 'AAPL US Equity'])")
# bquery.bql returns a list of dataframes with one dataframe per field.
result[0]

     field              id       value                  DATE CURRENCY
0  px_last   IBM US Equity  163.210007  2023-12-26T00:00:00Z      USD
1  px_last  AAPL US Equity  193.050003  2023-12-26T00:00:00Z      USD

# Advanced Query Techniques

## Using Overrides

Various fields can be overriden. For info on what fields support what overrides, the best place to check is using `FLDS` from the terminal.

In [10]:
pandas.concat(
    [
        bquery.bdp(["IBM US Equity"], ["CRNCY_ADJ_PX_LAST"]),
        bquery.bdp(
            ["IBM US Equity"], ["CRNCY_ADJ_PX_LAST"], overrides=[("EQY_FUND_CRNCY", "EUR")]
        )
    ],
    axis=1,
    keys=["default", "override"]
)

         default                         override
        security CRNCY_ADJ_PX_LAST       security CRNCY_ADJ_PX_LAST
0  IBM US Equity            163.21  IBM US Equity          147.9558

In [11]:
bquery.bds(
    "DAX Index",
    "INDX_MWEIGHT_HIST",
    overrides=[("END_DATE_OVERRIDE", "20230630")],
)

   Index Member  Percent Weight
0       1COV GY   -2.424536e-14
1        ADS GY   -2.424536e-14
2        AIR GY   -2.424536e-14
3        ALV GY   -2.424536e-14
4        BAS GY   -2.424536e-14
5       BAYN GY   -2.424536e-14
6        BEI GY   -2.424536e-14
7        BMW GY   -2.424536e-14
8        BNR GY   -2.424536e-14
9        CBK GY   -2.424536e-14
10       CON GY   -2.424536e-14
11       DB1 GY   -2.424536e-14
12       DBK GY   -2.424536e-14
13       DHL GY   -2.424536e-14
14       DTE GY   -2.424536e-14
15       DTG GY   -2.424536e-14
16       ENR GY   -2.424536e-14
17      EOAN GY   -2.424536e-14
18       FRE GY   -2.424536e-14
19       HEI GY   -2.424536e-14
20      HEN3 GY   -2.424536e-14
21      HNR1 GY   -2.424536e-14
22       IFX GY   -2.424536e-14
23       MBG GY   -2.424536e-14
24       MRK GY   -2.424536e-14
25       MTX GY   -2.424536e-14
26      MUV2 GY   -2.424536e-14
27      P911 GY   -2.424536e-14
28      PAH3 GY   -2.424536e-14
29       QIA GY   -2.424536e-14
30       RHM GY   -2.424536e-14
31       RWE GY   -2.424536e-14
32       SAP GY   -2.424536e-14
33       SHL GY   -2.424536e-14
34       SIE GY   -2.424536e-14
35      SRT3 GY   -2.424536e-14
36       SY1 GY   -2.424536e-14
37       VNA GY   -2.424536e-14
38      VOW3 GY   -2.424536e-14
39       ZAL GY   -2.424536e-14

## Using SEDOLs

In [12]:
bquery.bdp(
    ["SPY US Equity", "TLT US Equity"],
    ["ID_SEDOL1"],
)

        security ID_SEDOL1
0  SPY US Equity   2840215
1  TLT US Equity   2971546

In [13]:
bquery.bdh(
    ["/sedol1/2840215", "/sedol1/2971546"],
    ["PX_LAST", "VOLUME"],
    start_date="20190101",
    end_date="20190110",
)

         date         security   PX_LAST       VOLUME
0  2019-01-02  /sedol1/2840215  230.5557  126925199.0
1  2019-01-02  /sedol1/2971546  109.3493   19841527.0
2  2019-01-03  /sedol1/2840215  225.0540  144140692.0
3  2019-01-03  /sedol1/2971546  110.5936   21187045.0
4  2019-01-04  /sedol1/2840215  232.5924  142628834.0
5  2019-01-04  /sedol1/2971546  109.3135   12970226.0
6  2019-01-07  /sedol1/2840215  234.4263  103139100.0
7  2019-01-07  /sedol1/2971546  108.9912    8498104.0
8  2019-01-08  /sedol1/2840215  236.6288  102512587.0
9  2019-01-08  /sedol1/2971546  108.7048    7737103.0
10 2019-01-09  /sedol1/2840215  237.7347   95006554.0
11 2019-01-09  /sedol1/2971546  108.5347    9349245.0
12 2019-01-10  /sedol1/2840215  238.5733   96823923.0
13 2019-01-10  /sedol1/2971546  107.8364    8222860.0

# Troubleshooting

The most frequent errors in `blpapi` are due to poor input. As `blp` is a wrapper for `blpapi`, these errors are passed to the user. To resolve them, examine the error message for issues, then contact the Bloomberg help desk.

For instance, the code below will produce an error because it includes an invalid ticker.

```python
bquery.bdh(
    ["NOT_A_TICKER US Equity", "SPY US Equity"],
    ["PX_LAST", "VOLUME"],
    start_date="20190101",
    end_date="20190110",
)
```
```
TypeError: Response for 'NOT_A_TICKER US Equity' contains securityError
{
    "securityError": {
        "source": "3923::bbdbh4",
        "code": 15,
        "category": "BAD_SEC",
        "message": "Unknown/Invalid securityInvalid Security [nid:3923] ",
        "subcategory": "INVALID_SECURITY",
    }
}
```

To ignore errors, instantiate a parser as shown below:

In [14]:
bquery = blp.BlpQuery(parser=blp.BlpParser(raise_security_errors=False)).start()

bquery.bdh(
    ["NOT_A_TICKER US Equity", "SPY US Equity"],
    ["PX_LAST", "VOLUME"],
    start_date="20190101",
    end_date="20190110",
)

Response for 'NOT_A_TICKER US Equity' contains securityError {'securityError': {'source': '53359:rsfhdsvc2', 'code': 15, 'category': 'BAD_SEC', 'message': 'Unknown/Invalid securityInvalid Security [nid:53359]', 'subcategory': 'INVALID_SECURITY'}}

        date       security   PX_LAST       VOLUME
0 2019-01-02  SPY US Equity  230.5557  126925199.0
1 2019-01-03  SPY US Equity  225.0540  144140692.0
2 2019-01-04  SPY US Equity  232.5924  142628834.0
3 2019-01-07  SPY US Equity  234.4263  103139100.0
4 2019-01-08  SPY US Equity  236.6288  102512587.0
5 2019-01-09  SPY US Equity  237.7347   95006554.0
6 2019-01-10  SPY US Equity  238.5733   96823923.0

# Additional Features

## Retrieve JSON Data

### Query Generation Utility Methods

In [15]:
query = blp.create_query(
    request_type="HistoricalDataRequest",
    values={
        "securities": ["SPY US Equity"],
        "fields": ["VOLUME"],
        "startDate": "20190101",
        "endDate": "20190105",
    },
)
print(json.dumps(query, indent=2))

{
  "HistoricalDataRequest": {
    "securities": [
      "SPY US Equity"
    ],
    "fields": [
      "VOLUME"
    ],
    "startDate": "20190101",
    "endDate": "20190105"
  }
}

In [16]:
# deal with Timestamps for pretty printing for response

def ts_to_json(obj):
    return obj.strftime("%Y-%m-%dT%H:%M:%S.%f%z")


def time_to_json(obj):
    return obj.strftime("%H:%M:%S")

class CustomJSONEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, pandas.Timestamp):
            return ts_to_json(obj)
        if isinstance(obj, datetime.time):
            return time_to_json(obj)
        return super().default(obj)

In [17]:
resp = bquery.query(query, parse=False, collector=list)
print(json.dumps(resp, indent=2, cls=CustomJSONEncoder))

[
  {
    "eventType": 5,
    "eventTypeName": "blpapi.Event.RESPONSE",
    "messageNumber": 0,
    "message": {
      "fragmentType": 0,
      "correlationIds": [
        34
      ],
      "messageType": "HistoricalDataResponse",
      "timeReceived": "2023-12-27T02:21:35.053315+0000",
      "element": {
        "HistoricalDataResponse": {
          "securityData": {
            "security": "SPY US Equity",
            "eidData": [],
            "sequenceNumber": 0,
            "fieldExceptions": [],
            "fieldData": [
              {
                "fieldData": {
                  "date": "2019-01-02T00:00:00.000000",
                  "VOLUME": 126925199.0
                }
              },
              {
                "fieldData": {
                  "date": "2019-01-03T00:00:00.000000",
                  "VOLUME": 144140692.0
                }
              },
              {
                "fieldData": {
                  "date": "2019-01-04T00:00:00.000000",
                  "VOLUME": 142628834.0
                }
              }
            ]
          }
        }
      }
    }
  }
]

## Support for Context Manager

In [18]:
with blp.BlpQuery() as bq:
    df = bq.bdh(
        ["GME US Equity"],
        ["PX_LAST", "VOLUME"],
        start_date="20210101",
        end_date="20210130",
    )
df

         date       security  PX_LAST       VOLUME
0  2021-01-04  GME US Equity   4.3125   40089896.0
1  2021-01-05  GME US Equity   4.3425   19845828.0
2  2021-01-06  GME US Equity   4.5900   24224992.0
3  2021-01-07  GME US Equity   4.5200   24517104.0
4  2021-01-08  GME US Equity   4.4225   25927840.0
5  2021-01-11  GME US Equity   4.9850   59710448.0
6  2021-01-12  GME US Equity   4.9875   28242660.0
7  2021-01-13  GME US Equity   7.8500  578006944.0
8  2021-01-14  GME US Equity   9.9775  374869640.0
9  2021-01-15  GME US Equity   8.8750  187465432.0
10 2021-01-19  GME US Equity   9.8400  298887696.0
11 2021-01-20  GME US Equity   9.7800  133887156.0
12 2021-01-21  GME US Equity  10.7575  228319016.0
13 2021-01-22  GME US Equity  16.2525  788631784.0
14 2021-01-25  GME US Equity  19.1975  711496000.0
15 2021-01-26  GME US Equity  36.9950  714351896.0
16 2021-01-27  GME US Equity  86.8775  373586664.0
17 2021-01-28  GME US Equity  48.4000  235266380.0
18 2021-01-29  GME US Equity  81.2500  202264220.0

# Streaming Data

In [19]:
with blp.BlpStream() as bs:
    bs.subscribe({"USDCAD Curncy": {"fields": ["LAST_PRICE"]}})
    n = 0
    for ev in bs.events(timeout=60):
        print(json.dumps(ev, indent=2, cls=CustomJSONEncoder))
        n += 1
        if n > 1:
            break

SESSION_STATUS - Message 0 - SessionConnectionDown = {
    server = "localhost:8194"
}

{
  "fragmentType": 1,
  "correlationIds": [
    "USDCAD Curncy"
  ],
  "messageType": "MarketDataEvents",
  "timeReceived": "2023-12-27T02:21:44.066568+0000",
  "element": {
    "MarketDataEvents": {
      "MKTDATA_EVENT_TYPE": "SUMMARY",
      "MKTDATA_EVENT_SUBTYPE": "INITPAINT",
      "BID": 1.3198,
      "ASK": 1.3199,
      "BEST_BID": 1.3198,
      "BEST_ASK": 1.3199,
      "BID_ALL_SESSION": 1.3198,
      "ASK_ALL_SESSION": 1.3199,
      "IND_BID_FLAG": false,
      "IND_ASK_FLAG": false,
      "BID_TDY": 1.3198,
      "PRICE_LAST_BID_RT": 1.3198,
      "ASK_TDY": 1.3199,
      "PRICE_LAST_ASK_RT": 1.3199,
      "BID_DIR": 1,
      "ASK_DIR": -1,
      "BID2": 1.3198,
      "ASK2": 1.3199,
      "BID_ALL_SESSION_TDY_RT": 1.3198,
      "ASK_ALL_SESSION_TDY_RT": 1.3199,
      "CURRENT_SESSION_RT": 2,
      "PX_OPEN_ALL_WITH_SWITCHOVER_RT": 1.3195171356201172,
      "PX_CLOSE_ALL_WITH_SWITCHOVER_RT": 1.3195,
      "LAST_PRICE_ALL_SESSION_DIR_RT": 1,
      "SIMP_LAST_PX_ALL_SESS_DIR_RT": 1,
      "ID_BB_SEC_NUM_SRC": 12884922137,
      "LAST_PRICE": 1.3198,
      "LAST2_TRADE": 1.3198,
      "HIGH": 1.321,
      "LOW": 1.3193,
      "OPEN": 1.3195,
      "OPEN_TDY": 1.3195,
      "PRICE_OPEN_RT": 1.3195,
      "LAST_PRICE_TDY": 1.3198,
      "HIGH_TDY": 1.321,
      "PRICE_HIGH_RT": 1.321,
      "LOW_TDY": 1.3193,
      "PRICE_LOW_RT": 1.3193,
      "MID": 1.3198,
      "MID_TDY": 1.3198,
      "RT_EXCH_MARKET_STATUS": "ACTV",
      "LAST_ALL_SESSIONS": 1.3198,
      "PREV_CLOSE_VALUE_REALTIME": 1.3195,
      "TRADING_DT_REALTIME": "2023-12-27T00:00:00.000000",
      "PREV_TRADING_DT_REALTIME": "2023-12-26T00:00:00.000000",
      "PRICE_CHANGE_1Y_NET_RT": -0.032499998807907104,
      "PRICE_CHANGE_1Y_PCT_RT": -2.401700019836426,
      "CLOSING_PRICE_1Y_AGO_RT": 1.3523000478744507,
      "ZERO_BID_PRICE_INDICATOR_RT": true,
      "ZERO_ASK_PRICE_INDICATOR_RT": true,
      "RT_API_MACHINE": "apipubx0@md1p-rr-001",
      "PX_LOW_BID_RT": 1.3191900253295898,
      "PX_HIGH_ASK_RT": 1.321120023727417,
      "PX_HIGH_BID_RT": 1.3209450244903564,
      "PX_LOW_ASK_RT": 1.3193902969360352,
      "ALL_PRICE": 1.3198,
      "MID2": 1.3198,
      "MID_DIR": 1,
      "RT_PRICING_SOURCE": "BGN",
      "ASK_CHANGE": 0.00018048553466787354,
      "BID_CHANGE": 0.0004650909423828953,
      "SPREAD_BA": 0.0001,
      "PRICE_52_WEEK_HIGH_RT": 1.3899,
      "PRICE_52_WEEK_HIGH_DATE_RT": "2023-11-01T00:00:00.000000",
      "PRICE_52_WEEK_LOW_RT": 1.3093,
      "PRICE_52_WEEK_LOW_DATE_RT": "2023-07-14T00:00:00.000000",
      "PRICE_PREVIOUS_CLOSE_RT": 1.3195,
      "PRICE_LAST_RT": 1.3198,
      "15_SECOND_PRICE_CHANGE_RT": 0.0,
      "1_MINUTE_PRICE_CHANGE_RT": 0.00019999999494757503,
      "5_MINUTE_PRICE_CHANGE_RT": 0.00039999998989515007,
      "15_MINUTE_PRICE_CHANGE_RT": 0.0003000000142492354,
      "10_MINUTE_PRICE_CHANGE_RT": 0.0003000000142492354,
      "30_MINUTE_PRICE_CHANGE_RT": 0.00019999999494757503,
      "1_HOUR_PRICE_CHANGE_RT": 0.0,
      "PREVIOUS_CLOSE_BID_PRICE_RT": 1.3193,
      "PREVIOUS_CLOSE_ASK_PRICE_RT": 1.3197,
      "LAST_CONTINUOUS_TRADE_PRICE_RT": 1.3198,
      "LAST_TRADE_CANCELED_IND_RT": false,
      "UNADJUSTED_PREV_LAST_PRICE_RT": 1.3195,
      "ADJUSTED_PREV_LAST_PRICE_RT": 1.3195,
      "BASE_PRICE_ENABLED_RT": false,
      "BB_STANDARD_CC_AVAIL_RT": false,
      "NUM_TRADES_RT": 0,
      "BLOOMBERG_CLOSE_METHOD_RT": "NA",
      "LAST_TICK_DIRECTION_RT": 0,
      "CHG_NET_REG_SES_PRV_RG_SES_CL_RT": 0.0003198385238647461,
      "CHG_PCT_REG_SES_PRV_RG_SES_CL_RT": 0.02423932735550384,
      "SHORTENED_BID_ASK_RT": "1.3198/99",
      "IS_DELAYED_STREAM": false,
      "EXCH_CODE_LAST_ALL_SESSION_RT": "",
      "LOC_SRC_FOR_LST_TRD_ALL_SESS_RT": "",
      "CHG_NET_MTD_RT": -0.0363,
      "CHG_PCT_MTD_RT": -2.6768,
      "CHG_NET_QTD_RT": -0.0379,
      "CHG_PCT_QTD_RT": -2.7915,
      "CHG_NET_YTD_RT": -0.0356,
      "CHG_PCT_YTD_RT": -2.6265,
      "CHG_NET_1M_RT": -0.0418,
      "CHG_PCT_1M_RT": -3.0699,
      "CHG_NET_3M_RT": -0.03,
      "CHG_PCT_3M_RT": -2.2226,
      "REALTIME_2_DAY_CHANGE_NET": -0.0059,
      "REALTIME_2_DAY_CHANGE_PERCENT": -0.445,
      "REALTIME_5_DAY_CHANGE_NET": -0.0171,
      "REALTIME_5_DAY_CHANGE_PERCENT": -1.2791,
      "RT_PX_AS_PCT_INTRADAY_RANGE": 29.4118,
      "REALTIME_PERCENT_BID_ASK_SPREAD": 0.0075999999999964984,
      "REALTIME_15_SEC_PRICE_PCT_CHG": 0.0,
      "REALTIME_ONE_MIN_PRICE_PCT_CHG": 0.0152,
      "REALTIME_FIVE_MIN_PRICE_PCT_CHG": 0.0303,
      "REALTIME_15_MIN_PRICE_PCT_CHG": 0.0227,
      "REALTIME_ONE_HOUR_PRICE_PCT_CHG": 0.0,
      "CHG_NET_1D_ALL_FROM_REGULAR_RT": 0.0003,
      "CHG_PCT_1D_ALL_FROM_REGULAR_RT": 0.0227,
      "PX_CHG_NET_1D_ALL_SWITCHOVER_RT": 0.0003,
      "PX_CHG_PCT_1D_ALL_SWITCHOVER_RT": 0.0227,
      "API_RULES_VERSION": 201411210,
      "PREV_SES_LAST_PRICE": 1.3195,
      "RT_PX_CHG_NET_1D": 0.0003,
      "RT_PX_CHG_PCT_1D": 0.022700000554323196,
      "PRICE_CHANGE_ON_DAY_RT": 0.0003,
      "NET_CHANGE_ON_DAY_TODAY_RT": 0.0003,
      "PERCENT_CHANGE_ON_DAY_TODAY_RT": 0.0227,
      "LAST_UPDATE_BID_RT": "23:21:51",
      "LAST_UPDATE_ASK_RT": "23:21:51",
      "TIME": "23:21:51",
      "BID_ASK_TIME": "23:21:51",
      "SES_START": "19:00:00",
      "SES_END": "18:59:59",
      "PRICE_LAST_TIME_RT": "23:21:51",
      "LAST_BID_TIME_TODAY_REALTIME": "23:21:51",
      "LAST_ASK_TIME_TODAY_REALTIME": "23:21:51",
      "LAST_PRICE_TIME_TODAY_REALTIME": "23:21:51",
      "LAST_UPDATE_ALL_SESSIONS_RT": "23:21:51"
    }
  }
}
{
  "fragmentType": 0,
  "correlationIds": [
    "USDCAD Curncy"
  ],
  "messageType": "MarketDataEvents",
  "timeReceived": "2023-12-27T02:21:44.104816+0000",
  "element": {
    "MarketDataEvents": {
      "MKTDATA_EVENT_TYPE": "TRADE",
      "MKTDATA_EVENT_SUBTYPE": "NEW",
      "LAST_ALL_SESSIONS": 1.3198,
      "LAST2_TRADE": 1.3198,
      "LAST_PRICE": 1.3198,
      "LAST_PRICE_TDY": 1.3198,
      "LAST2_DIR": null,
      "LAST_TICK_DIRECTION_RT": 0,
      "ALL_PRICE_COND_CODE": null,
      "ALL_PRICE": 1.3198,
      "LAST_PRICE_COND_CODE_RT": null,
      "PRICE_CHANGE_1Y_NET_RT": -0.032499998807907104,
      "PRICE_CHANGE_1Y_PCT_RT": -2.4033000469207764,
      "LAST_CONTINUOUS_TRADE_PRICE_RT": 1.3198,
      "PRICE_LAST_RT": 1.3198,
      "EVT_TRADE_PRICE_RT": 1.3198,
      "EVT_TRADE_SIZE_RT": 0,
      "EVT_TRADE_CONDITION_CODE_RT": null,
      "EVT_TRADE_LOCAL_EXCH_SOURCE_RT": null,
      "EVT_TRADE_SOURCE_TYPE_CODE_RT": null,
      "EVT_TRADE_INTEGER_IDENTIFIER_RT": null,
      "EVT_TRADE_IDENTIFIER_RT": null,
      "EXCH_CODE_LAST_ALL_SESSION_RT": null,
      "LOC_SRC_FOR_LST_TRD_ALL_SESS_RT": null,
      "CHG_NET_REG_SESSION_CLOSE": null,
      "CHG_PCT_REG_SESSION_CLOSE": null,
      "CHG_NET_PREV_DAY_POST_CLS": null,
      "CHG_PCT_PREV_DAY_POST_CLS": null,
      "CHG_NET_1D_PRE_FROM_REGULAR_RT": null,
      "CHG_PCT_1D_PRE_FROM_REGULAR_RT": null,
      "CHG_NET_1D_ALL_FROM_REGULAR_RT": 0.0003,
      "CHG_PCT_1D_ALL_FROM_REGULAR_RT": 0.0227,
      "CHG_NET_1D_POST_FROM_REGULAR_RT": null,
      "CHG_PCT_1D_POST_FROM_REGULAR_RT": null,
      "PX_CHG_NET_1D_ALL_SWITCHOVER_RT": 0.0003,
      "PX_CHG_PCT_1D_ALL_SWITCHOVER_RT": 0.0227,
      "CHG_NET_REG_SES_PRV_RG_SES_CL_RT": 0.0003,
      "CHG_PCT_REG_SES_PRV_RG_SES_CL_RT": 0.022736,
      "CHG_NET_MTD_RT": -0.0363,
      "CHG_PCT_MTD_RT": -2.6768,
      "CHG_NET_QTD_RT": -0.0379,
      "CHG_PCT_QTD_RT": -2.7915,
      "CHG_NET_YTD_RT": -0.0356,
      "CHG_PCT_YTD_RT": -2.6265,
      "CHG_NET_1M_RT": -0.0418,
      "CHG_PCT_1M_RT": -3.0699,
      "CHG_NET_3M_RT": -0.03,
      "CHG_PCT_3M_RT": -2.2226,
      "REALTIME_2_DAY_CHANGE_NET": -0.0059,
      "REALTIME_2_DAY_CHANGE_PERCENT": -0.445,
      "REALTIME_5_DAY_CHANGE_NET": -0.0171,
      "REALTIME_5_DAY_CHANGE_PERCENT": -1.2791,
      "RT_PX_AS_PCT_INTRADAY_RANGE": 29.4118,
      "REALTIME_PERCENT_BID_ASK_SPREAD": 0.0075999999999964984,
      "RT_THEORETICAL_PCT_CHG_FROM_LAST": null,
      "REALTIME_15_SEC_PRICE_PCT_CHG": 0.0,
      "REALTIME_ONE_MIN_PRICE_PCT_CHG": 0.0152,
      "REALTIME_FIVE_MIN_PRICE_PCT_CHG": 0.0303,
      "REALTIME_15_MIN_PRICE_PCT_CHG": 0.0227,
      "REALTIME_ONE_HOUR_PRICE_PCT_CHG": 0.0,
      "REALTIME_VOLUME_5_DAY_INTERVAL": null,
      "DELTA_AVAT_1_DAY_INTERVAL": null,
      "DELTA_AVAT_5_DAY_INTERVAL": null,
      "DELTA_AVAT_10_DAY_INTERVAL": null,
      "DELTA_AVAT_20_DAY_INTERVAL": null,
      "DELTA_AVAT_30_DAY_INTERVAL": null,
      "DELTA_AVAT_100_DAY_INTERVAL": null,
      "DELTA_AVAT_180_DAY_INTERVAL": null,
      "DELTA_ATAT_1_DAY_INTERVAL": null,
      "DELTA_ATAT_5_DAY_INTERVAL": null,
      "DELTA_ATAT_10_DAY_INTERVAL": null,
      "DELTA_ATAT_20_DAY_INTERVAL": null,
      "DELTA_ATAT_30_DAY_INTERVAL": null,
      "DELTA_ATAT_100_DAY_INTERVAL": null,
      "DELTA_ATAT_180_DAY_INTERVAL": null,
      "RT_PX_CHG_NET_1D": 0.0003,
      "RT_PX_CHG_PCT_1D": 0.022700000554323196,
      "PRICE_CHANGE_ON_DAY_RT": 0.0003,
      "NET_CHANGE_ON_DAY_TODAY_RT": 0.0003,
      "PERCENT_CHANGE_ON_DAY_TODAY_RT": 0.0227,
      "LAST_UPDATE_CHG_1D_RT": 0.0003000000142492354,
      "EVT_TRADE_TIME_RT": "23:21:52",
      "TRADE_UPDATE_STAMP_RT": "2023-12-26T23:21:52.000000-0300",
      "IS_DELAYED_STREAM": false,
      "EVT_UPDATE_ACTIONS_RT": 271,
      "TIME": "23:21:52",
      "PRICE_LAST_TIME_RT": "23:21:52",
      "LAST_PRICE_TIME_TODAY_REALTIME": "23:21:52",
      "EVENT_TIME": "23:21:52",
      "LAST_UPDATE_ALL_SESSIONS_RT": "23:21:52",
      "BLOOMBERG_SEND_TIME_RT": "2023-12-27T02:21:44.104000+0000"
    }
  }
}